Gss.BusinessService/Service References/ManagementService/GssManager4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.IManager.com" elementFormDefault="qualified" targetNamespace="www.IManager.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.116:8075/GssManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfInterface.model" />
  <xs:import schemaLocation="http://192.168.1.116:8075/GssManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfInterface.model.WJY" />
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="roleEntity" nillable="true" type="q1:RoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddRoleResult" nillable="true" type="q2:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="roleEntity" nillable="true" type="q3:RoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="UpdateRoleResult" nillable="true" type="q4:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ReadRoleResult" nillable="true" type="q5:RoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DeleteRoleResult" nillable="true" type="q6:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRolePrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q7:ArrayOfRolePrivilegeEntity" />
        <xs:element minOccurs="0" name="roldeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRolePrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddRolePrivilegesResult" nillable="true" type="q8:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q9:ArrayOfRoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetRolesResult" nillable="true" type="q10:EntityBase" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q11:ArrayOfRoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleID" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q12:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetPrivilegesRoleResult" nillable="true" type="q13:EntityBase" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q14:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesWithRoleSign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleID" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q15:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesWithRoleSignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetPrivilegesWithRoleSignResult" nillable="true" type="q16:EntityBase" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q17:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="pEntity" nillable="true" type="q18:PrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddPrivilegesResult" nillable="true" type="q19:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="pEntity" nillable="true" type="q20:PrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="UpdatePrivilegesResult" nillable="true" type="q21:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrivilegeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ReadPrivilegesResult" nillable="true" type="q22:PrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrivilegeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DeletePrivilegesResult" nillable="true" type="q23:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrivilegeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q24:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetPrivilegeListResult" nillable="true" type="q25:EntityBase" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q26:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegeParentLit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q27:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegeParentLitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetPrivilegeParentLitResult" nillable="true" type="q28:EntityBase" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q29:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegeTopMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q30:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegeTopMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetPrivilegeTopMenuResult" nillable="true" type="q31:EntityBase" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q32:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesByParentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentPrivilegID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q33:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesByParentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetPrivilegesByParentIDResult" nillable="true" type="q34:EntityBase" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q35:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidataUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q36:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidataUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ValidataUserRoleResult" nillable="true" type="q37:EntityBase" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q38:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRolePrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q39:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRolePrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="UserRolePrivilegesResult" nillable="true" type="q40:EntityBase" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q41:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivileges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q42:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetPrivilegesResult" nillable="true" type="q43:EntityBase" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q44:ArrayOfPrivilegeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="orgEntity" nillable="true" type="q45:OrgEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddOrgResult" nillable="true" type="q46:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="orgEntity" nillable="true" type="q47:OrgEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="UpdateOrgResult" nillable="true" type="q48:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ReadOrgResult" nillable="true" type="q49:OrgEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DeleteOrgResult" nillable="true" type="q50:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="orgEntity" nillable="true" type="q51:OrgEntity" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q52:ArrayOfOrgEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetOrgListResult" nillable="true" type="q53:EntityBase" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q54:ArrayOfOrgEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseOrgListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q55:ArrayOfOrgEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseOrgListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetBaseOrgListAllResult" nillable="true" type="q56:EntityBase" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="list" nillable="true" type="q57:ArrayOfOrgEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="userRoleEntity" nillable="true" type="q58:UserRoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddUserRoleResult" nillable="true" type="q59:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="userRoleEntity" nillable="true" type="q60:UserRoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="UpdateUserRoleResult" nillable="true" type="q61:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ReadUserRoleResult" nillable="true" type="q62:UserRoleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DeleteUserRoleResult" nillable="true" type="q63:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrgUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="orgUserEntity" nillable="true" type="q64:OrgUserEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrgUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddOrgUserResult" nillable="true" type="q65:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrgUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="orgUserEntity" nillable="true" type="q66:OrgUserEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrgUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="UpdateOrgUserResult" nillable="true" type="q67:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrgUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOrgUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ReadOrgUserResult" nillable="true" type="q68:OrgUserEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrgUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrgUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DeleteOrgUserResult" nillable="true" type="q69:EntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdUser" nillable="true" type="q70:TradeUser" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="UType" type="q71:UserType" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddTradeUserResult" nillable="true" type="q72:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeUserEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdUser" nillable="true" type="q73:TradeUser" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Fdinfo" nillable="true" type="q74:Fundinfo" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="UType" type="q75:UserType" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeUserExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddTradeUserExResult" nillable="true" type="q76:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFundinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFundinfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetUserFundinfoResult" nillable="true" type="q77:UserFundinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelTradeUserResult" nillable="true" type="q78:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdUser" nillable="true" type="q79:TradeUser" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyTradeUserResult" nillable="true" type="q80:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeUserEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdUser" nillable="true" type="q81:TradeUser" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Fdinfo" nillable="true" type="q82:Fundinfo" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeUserExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyTradeUserExResult" nillable="true" type="q83:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserFundinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Fdinfo" nillable="true" type="q84:Fundinfo" />
        <xs:element minOccurs="0" name="tradeAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserFundinfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyUserFundinfoResult" nillable="true" type="q85:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AdminLoginResult" nillable="true" type="q86:ReAdminAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateSetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateSetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetDateSetInfoResult" nillable="true" type="q87:DateSetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDateSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DtSet" nillable="true" type="q88:DateSet" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDateSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyDateSetResult" nillable="true" type="q89:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateSetInfoEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pricecode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateSetInfoExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetDateSetInfoExResult" nillable="true" type="q90:DateSetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDateSetEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DtSet" nillable="true" type="q91:DateSet" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDateSetExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyDateSetExResult" nillable="true" type="q92:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetHolidayInfoResult" nillable="true" type="q93:DateHolidayInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Hliday" nillable="true" type="q94:DateHoliday" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyHolidayResult" nillable="true" type="q95:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Hliday" nillable="true" type="q96:DateHoliday" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddHolidayResult" nillable="true" type="q97:ResultDesc" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelHolidayResult" nillable="true" type="q98:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdSet" nillable="true" type="q99:TradeSet" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddTradeSetResult" nillable="true" type="q100:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelTradeSetResult" nillable="true" type="q101:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdSet" nillable="true" type="q102:TradeSet" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyTradeSetResult" nillable="true" type="q103:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdNews" nillable="true" type="q104:TradeNews" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddTradeNewsResult" nillable="true" type="q105:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdNews" nillable="true" type="q106:TradeNews" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyTradeNewsResult" nillable="true" type="q107:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelTradeNewsResult" nillable="true" type="q108:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeIpInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeIpInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetTradeIpInfoResult" nillable="true" type="q109:TradeIpInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeIp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdIp" nillable="true" type="q110:TradeIp" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeIpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyTradeIpResult" nillable="true" type="q111:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeIp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdIp" nillable="true" type="q112:TradeIp" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeIpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddTradeIpResult" nillable="true" type="q113:ResultDesc" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeIp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeIpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelTradeIpResult" nillable="true" type="q114:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeMacInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeMacInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetTradeMacInfoResult" nillable="true" type="q115:TradeMacInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeMac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdMac" nillable="true" type="q116:TradeMac" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeMacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyTradeMacResult" nillable="true" type="q117:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeMac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdMac" nillable="true" type="q118:TradeMac" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeMacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddTradeMacResult" nillable="true" type="q119:ResultDesc" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeMac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeMacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelTradeMacResult" nillable="true" type="q120:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetTradeProductInfoResult" nillable="true" type="q121:TradeProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdProduct" nillable="true" type="q122:TradeProduct" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyTradeProductResult" nillable="true" type="q123:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdProduct" nillable="true" type="q124:TradeProduct" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddTradeProductResult" nillable="true" type="q125:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTradeProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelTradeProductResult" nillable="true" type="q126:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeRateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeRateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetTradeRateInfoResult" nillable="true" type="q127:TradeRateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="TdRate" nillable="true" type="q128:TradeRate" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTradeRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyTradeRateResult" nillable="true" type="q129:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHedgingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Starttime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Endtime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHedgingInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetHedgingInfoResult" nillable="true" type="q130:HedgingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="money" type="xs:double" />
        <xs:element minOccurs="0" name="ReasonType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyUserMoneyResult" nillable="true" type="q131:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="starttime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endtime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="reporttype" type="xs:int" />
        <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetReportFormsResult" nillable="true" type="q132:ReportForms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportFormsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TelPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Broker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsBroker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="starttime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endtime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="reporttype" type="xs:int" />
        <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportFormsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetReportFormsUserResult" nillable="true" type="q133:ReportForms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiTradeOrderWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Cxqc" nillable="true" type="q134:CxQueryCon" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiTradeOrderWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetMultiTradeOrderWithPageResult" nillable="true" type="q135:TradeOrderInfo" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiTradeHoldOrderWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Cxqc" nillable="true" type="q136:CxQueryCon" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiTradeHoldOrderWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetMultiTradeHoldOrderWithPageResult" nillable="true" type="q137:TradeHoldOrderInfo" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiLTradeOrderWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Lqc" nillable="true" type="q138:LQueryCon" />
        <xs:element minOccurs="0" name="Ltype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiLTradeOrderWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetMultiLTradeOrderWithPageResult" nillable="true" type="q139:LTradeOrderInfo" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeALogInfoWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Logqc" nillable="true" type="q140:LogQueryCon" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeALogInfoWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetTradeALogInfoWithPageResult" nillable="true" type="q141:TradeALogInfo" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBaseInfoWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Uqc" nillable="true" type="q142:UserQueryCon" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBaseInfoWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetUserBaseInfoWithPageResult" nillable="true" type="q143:UserBaseInfo" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTradeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CardNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTradeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="CheckTradeUserResult" nillable="true" type="q144:CheckResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManualPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PriceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RealPrice" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManualPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ManualPriceResult" nillable="true" type="q145:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiTradeChuJinWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Cjqc" nillable="true" type="q146:CJQueryCon" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiTradeChuJinWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetMultiTradeChuJinWithPageResult" nillable="true" type="q147:TradeChuJinInfo" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiFundChangeWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="Fcqc" nillable="true" type="q148:FcQueryCon" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiFundChangeWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetMultiFundChangeWithPageResult" nillable="true" type="q149:FundChangeInfo" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessChuJin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyId" type="xs:int" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessChuJinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ProcessChuJinResult" nillable="true" type="q150:ResultDesc" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefusedChuJin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyId" type="xs:int" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefusedChuJinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="RefusedChuJinResult" nillable="true" type="q151:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiTradeJieYueWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="JYqc" nillable="true" type="q152:JYQueryCon" />
        <xs:element minOccurs="0" name="pageindex" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiTradeJieYueWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetMultiTradeJieYueWithPageResult" nillable="true" type="q153:TradeJieYueInfo" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJieYue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyId" type="xs:int" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJieYueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ProcessJieYueResult" nillable="true" type="q154:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefusedJieYue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyId" type="xs:int" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefusedJieYueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="RefusedJieYueResult" nillable="true" type="q155:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeJuJianInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="JJqc" nillable="true" type="q156:JJQueryCon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeJuJianInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetTradeJuJianInfoResult" nillable="true" type="q157:TradeJuJianInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrgcodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeMoneyInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeMoneyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetTradeMoneyInfoResult" nillable="true" type="q158:TradeMoneyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeBank">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetTradeBankResult" nillable="true" type="q159:ArrayOfTradeBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUserFromUserGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUserFromUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelUserFromUserGroupsResult" nillable="true" type="q160:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToUserGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="tduser" nillable="true" type="q161:TradeUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddUserToUserGroupsResult" nillable="true" type="q162:ResultDesc" />
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="tduser" nillable="true" type="q163:TradeUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ugs" nillable="true" type="q164:UserGroups" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ModifyUserGroupsResult" nillable="true" type="q165:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUserGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelUserGroupsResult" nillable="true" type="q166:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="ugs" nillable="true" type="q167:UserGroups" />
        <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddUserGroupsResult" nillable="true" type="q168:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroupsInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroupsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="GetUserGroupsInfoResult" nillable="true" type="q169:UserGroupsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperienceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="isEffciive" type="xs:int" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExperienceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/WcfInterface.model.WJY" minOccurs="0" name="GetExperienceInfoResult" nillable="true" type="q170:ExperienceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/WcfInterface.model.WJY" minOccurs="0" name="exp" nillable="true" type="q171:Experience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="AddExperienceResult" nillable="true" type="q172:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/WcfInterface.model.WJY" minOccurs="0" name="exp" nillable="true" type="q173:Experience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="EditExperienceResult" nillable="true" type="q174:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelExperience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelExperienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/WcfInterface.model" minOccurs="0" name="DelExperienceResult" nillable="true" type="q175:ResultDesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>