Gss.TradeService/Service References/TradeService/TradeService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfInterface.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfInterface.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Loginfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuotesAddressIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuotesPort" type="xs:int" />
      <xs:element minOccurs="0" name="TdUser" nillable="true" type="tns:TradeUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loginfo" nillable="true" type="tns:Loginfo" />
  <xs:complexType name="TradeUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BindAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashPwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConBankType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorporationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DongJieMoney" type="xs:double" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrozenMoney" type="xs:double" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBroker" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnable" type="xs:int" />
      <xs:element minOccurs="0" name="LastLoginTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdateID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LinkAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkMan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginPwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxTrade" type="xs:double" />
      <xs:element minOccurs="0" name="MinTrade" type="xs:double" />
      <xs:element minOccurs="0" name="Money" type="xs:double" />
      <xs:element minOccurs="0" name="OccMoney" type="xs:double" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpenBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenBankAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenMan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderUnit" type="xs:double" />
      <xs:element minOccurs="0" name="OrgId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermitCcash" type="xs:boolean" />
      <xs:element minOccurs="0" name="PermitDelOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="PermitDhuo" type="xs:boolean" />
      <xs:element minOccurs="0" name="PermitHshou" type="xs:boolean" />
      <xs:element minOccurs="0" name="PermitRcash" type="xs:boolean" />
      <xs:element minOccurs="0" name="PermitRstore" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reperson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TanUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UType" type="tns:UserType" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeUser" nillable="true" type="tns:TradeUser" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RootType" />
      <xs:enumeration value="AdminType" />
      <xs:enumeration value="OrgType" />
      <xs:enumeration value="NormalType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="ArrayOfProductConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductConfig" nillable="true" type="tns:ProductConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductConfig" nillable="true" type="tns:ArrayOfProductConfig" />
  <xs:complexType name="ProductConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustBase" type="xs:double" />
      <xs:element minOccurs="0" name="AdjustCount" type="xs:int" />
      <xs:element minOccurs="0" name="BuyStorageFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endtime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpressionFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighPrice" type="xs:double" />
      <xs:element minOccurs="0" name="HoldBase" type="xs:int" />
      <xs:element minOccurs="0" name="LowPrice" type="xs:double" />
      <xs:element minOccurs="0" name="LowerPrice" type="xs:double" />
      <xs:element minOccurs="0" name="MaxPrice" type="xs:double" />
      <xs:element minOccurs="0" name="MaxTime" type="xs:double" />
      <xs:element minOccurs="0" name="MinPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OpenPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderMoney" type="xs:double" />
      <xs:element minOccurs="0" name="OrderMoneyFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceDot" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellStorageFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetBase" type="xs:int" />
      <xs:element minOccurs="0" name="Starttime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" type="xs:double" />
      <xs:element minOccurs="0" name="ValueDot" type="xs:double" />
      <xs:element minOccurs="0" name="YesterdayPrice" type="xs:double" />
      <xs:element minOccurs="0" name="realprice" type="xs:double" />
      <xs:element minOccurs="0" name="weektime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductConfig" nillable="true" type="tns:ProductConfig" />
  <xs:complexType name="MoneyInventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FdInfo" nillable="true" type="tns:Fundinfo" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageQuantity" nillable="true" type="tns:Storagequantity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyInventory" nillable="true" type="tns:MoneyInventory" />
  <xs:complexType name="Fundinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConBankType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DongJieMoney" type="xs:double" />
      <xs:element minOccurs="0" name="FrozenMoney" type="xs:double" />
      <xs:element minOccurs="0" name="Money" type="xs:double" />
      <xs:element minOccurs="0" name="OccMoney" type="xs:double" />
      <xs:element minOccurs="0" name="OpenBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenBankAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RescindTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SameBank" type="xs:boolean" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TanUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fundinfo" nillable="true" type="tns:Fundinfo" />
  <xs:complexType name="Storagequantity">
    <xs:sequence>
      <xs:element minOccurs="0" name="nxag" type="xs:double" />
      <xs:element minOccurs="0" name="nxau" type="xs:double" />
      <xs:element minOccurs="0" name="nxpd" type="xs:double" />
      <xs:element minOccurs="0" name="nxpt" type="xs:double" />
      <xs:element minOccurs="0" name="xag" type="xs:double" />
      <xs:element minOccurs="0" name="xau" type="xs:double" />
      <xs:element minOccurs="0" name="xpd" type="xs:double" />
      <xs:element minOccurs="0" name="xpt" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Storagequantity" nillable="true" type="tns:Storagequantity" />
  <xs:complexType name="ArrayOfTradeOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradeOrder" nillable="true" type="tns:TradeOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradeOrder" nillable="true" type="tns:ArrayOfTradeOrder" />
  <xs:complexType name="TradeOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllOccMoney" type="xs:double" />
      <xs:element minOccurs="0" name="AllowStore" type="xs:boolean" />
      <xs:element minOccurs="0" name="DongJieMoney" type="xs:double" />
      <xs:element minOccurs="0" name="FrozenMoney" type="xs:double" />
      <xs:element minOccurs="0" name="IsExperience" type="xs:boolean" />
      <xs:element minOccurs="0" name="LossPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Money" type="xs:double" />
      <xs:element minOccurs="0" name="OccMoney" type="xs:double" />
      <xs:element minOccurs="0" name="OperType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orderunit" type="xs:double" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="ProfitValue" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="StorageFee" type="xs:double" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalWeight" type="xs:double" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeFee" type="xs:double" />
      <xs:element minOccurs="0" name="UseQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeOrder" nillable="true" type="tns:TradeOrder" />
  <xs:complexType name="ArrayOfTradeHoldOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradeHoldOrder" nillable="true" type="tns:TradeHoldOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradeHoldOrder" nillable="true" type="tns:ArrayOfTradeHoldOrder" />
  <xs:complexType name="TradeHoldOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrozenMoney" type="xs:double" />
      <xs:element minOccurs="0" name="HoldOrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoldPrice" type="xs:double" />
      <xs:element minOccurs="0" name="LossPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeHoldOrder" nillable="true" type="tns:TradeHoldOrder" />
  <xs:complexType name="LQueryCon">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LQueryCon" nillable="true" type="tns:LQueryCon" />
  <xs:complexType name="ArrayOfLTradeOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LTradeOrder" nillable="true" type="tns:LTradeOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLTradeOrder" nillable="true" type="tns:ArrayOfLTradeOrder" />
  <xs:complexType name="LTradeOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="HistoryOrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OverTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OverType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductMoney" type="xs:double" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="ProfitValue" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="StorageFee" type="xs:double" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeFee" type="xs:double" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LTradeOrder" nillable="true" type="tns:LTradeOrder" />
  <xs:complexType name="ArrayOfLTradeHoldOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LTradeHoldOrder" nillable="true" type="tns:LTradeHoldOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLTradeHoldOrder" nillable="true" type="tns:ArrayOfLTradeHoldOrder" />
  <xs:complexType name="LTradeHoldOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrozenMoney" type="xs:double" />
      <xs:element minOccurs="0" name="HoldOrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoldPrice" type="xs:double" />
      <xs:element minOccurs="0" name="LossPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LTradeHoldOrder" nillable="true" type="tns:LTradeHoldOrder" />
  <xs:complexType name="OrdersLncoming">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoldPrice" type="xs:double" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderMoney" type="xs:double" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="RtimePrices" type="xs:double" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
      <xs:element minOccurs="0" name="ValidTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdersLncoming" nillable="true" type="tns:OrdersLncoming" />
  <xs:complexType name="Orders">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoneyInventory" nillable="true" type="tns:MoneyInventory" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeHoldOrder" nillable="true" type="tns:TradeHoldOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orders" nillable="true" type="tns:Orders" />
  <xs:complexType name="DelHoldInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoldOrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RtimePrices" type="xs:double" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DelHoldInfo" nillable="true" type="tns:DelHoldInfo" />
  <xs:complexType name="MarDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoneyInventory" nillable="true" type="tns:MoneyInventory" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarDelivery" nillable="true" type="tns:MarDelivery" />
  <xs:complexType name="MarOrdersLn">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderMoney" type="xs:double" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="RtimePrices" type="xs:double" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarOrdersLn" nillable="true" type="tns:MarOrdersLn" />
  <xs:complexType name="Marketorders">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChengjiaoPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoneyInventory" nillable="true" type="tns:MoneyInventory" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeOrder" nillable="true" type="tns:TradeOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marketorders" nillable="true" type="tns:Marketorders" />
  <xs:complexType name="MarketLnEnter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossPrice" type="xs:double" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="RtimePrices" type="xs:double" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketLnEnter" nillable="true" type="tns:MarketLnEnter" />
  <xs:complexType name="DeliveryEnter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Orderid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="RtimePrices" type="xs:double" />
      <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryEnter" nillable="true" type="tns:DeliveryEnter" />
  <xs:complexType name="RemitInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Money" type="xs:double" />
      <xs:element minOccurs="0" name="PasswordChar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonType" type="xs:int" />
      <xs:element minOccurs="0" name="RemitAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemitBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemitTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemitType" type="xs:int" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemitInfo" nillable="true" type="tns:RemitInfo" />
  <xs:complexType name="ResultDesc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDesc" nillable="true" type="tns:ResultDesc" />
  <xs:complexType name="OpenBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenBankAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpenBankInfo" nillable="true" type="tns:OpenBankInfo" />
  <xs:complexType name="TradeSetInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TdSetList" nillable="true" type="tns:ArrayOfTradeSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeSetInfo" nillable="true" type="tns:TradeSetInfo" />
  <xs:complexType name="ArrayOfTradeSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradeSet" nillable="true" type="tns:TradeSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradeSet" nillable="true" type="tns:ArrayOfTradeSet" />
  <xs:complexType name="TradeSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeSet" nillable="true" type="tns:TradeSet" />
  <xs:simpleType name="NewsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALL" />
      <xs:enumeration value="News" />
      <xs:enumeration value="Notice" />
      <xs:enumeration value="Articles" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NewsType" nillable="true" type="tns:NewsType" />
  <xs:complexType name="TradeNewsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeNewsInfoList" nillable="true" type="tns:ArrayOfTradeNews" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeNewsInfo" nillable="true" type="tns:TradeNewsInfo" />
  <xs:complexType name="ArrayOfTradeNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradeNews" nillable="true" type="tns:TradeNews" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradeNews" nillable="true" type="tns:ArrayOfTradeNews" />
  <xs:complexType name="TradeNews">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NType" type="tns:NewsType" />
      <xs:element minOccurs="0" name="NewsContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverView" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PubPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PubTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="tns:NewsStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeNews" nillable="true" type="tns:TradeNews" />
  <xs:simpleType name="NewsStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disable" />
      <xs:enumeration value="Enable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NewsStatus" nillable="true" type="tns:NewsStatus" />
  <xs:complexType name="NewsLqc">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NType" type="tns:NewsType" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsLqc" nillable="true" type="tns:NewsLqc" />
  <xs:complexType name="ArrayOfHisData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HisData" nillable="true" type="tns:HisData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHisData" nillable="true" type="tns:ArrayOfHisData" />
  <xs:complexType name="HisData">
    <xs:sequence>
      <xs:element minOccurs="0" name="closeprice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="highprice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lowprice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mdtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="openprice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="volnum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weektime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HisData" nillable="true" type="tns:HisData" />
  <xs:complexType name="ComHisData">
    <xs:sequence>
      <xs:element minOccurs="0" name="HisDataList" nillable="true" type="tns:ArrayOfHisData" />
      <xs:element minOccurs="0" name="mdtime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComHisData" nillable="true" type="tns:ComHisData" />
  <xs:complexType name="HisQueryCon">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pricecode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weekflg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weektime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HisQueryCon" nillable="true" type="tns:HisQueryCon" />
  <xs:complexType name="ArrayOfUserExperience">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserExperience" nillable="true" type="tns:UserExperience" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserExperience" nillable="true" type="tns:ArrayOfUserExperience" />
  <xs:complexType name="UserExperience">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Num" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserExperience" nillable="true" type="tns:UserExperience" />
  <xs:complexType name="CommissionRatioSetInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultDesc">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrgID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ratio1" type="xs:double" />
          <xs:element minOccurs="0" name="Ratio2" type="xs:double" />
          <xs:element minOccurs="0" name="Ratio3" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommissionRatioSetInfo" nillable="true" type="tns:CommissionRatioSetInfo" />
</xs:schema>