Gss.TradeService/Service References/TradeService/TradeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.ITrade.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.ITrade.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.ITrade.com/Imports">
      <xsd:import schemaLocation="http://192.168.2.102:8077/TradeService.svc?xsd=xsd0" namespace="www.ITrade.com" />
      <xsd:import schemaLocation="http://192.168.2.102:8077/TradeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.2.102:8077/TradeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfInterface.model" />
      <xsd:import schemaLocation="http://192.168.2.102:8077/TradeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfInterface.model.WJY" />
      <xsd:import schemaLocation="http://192.168.2.102:8077/TradeService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrade_GetLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogin" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetLoginEx_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginEx" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetLoginEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginExResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetProductConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductConfig" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetProductConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductConfigResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetProductConfigEx_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductConfigEx" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetProductConfigEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductConfigExResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetMoneyInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneyInventory" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetMoneyInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneyInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetMoneyInventoryEx_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneyInventoryEx" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetMoneyInventoryEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneyInventoryExResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeOrderEx_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeOrderEx" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeOrderEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeOrderExResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeHoldOrderEx_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeHoldOrderEx" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeHoldOrderEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeHoldOrderExResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetLTradeOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLTradeOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetLTradeOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLTradeOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetLTradeHoldOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLTradeHoldOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetLTradeHoldOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLTradeHoldOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetDelayPlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDelayPlaceOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetDelayPlaceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDelayPlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetDelayFlatOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDelayFlatOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetDelayFlatOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDelayFlatOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeHoldOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeHoldOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeHoldOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeHoldOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_DelHoldOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DelHoldOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_DelHoldOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelHoldOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetMarketorders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketorders" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetMarketorders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarketordersResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_ModifyMarketorders_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyMarketorders" />
  </wsdl:message>
  <wsdl:message name="ITrade_ModifyMarketorders_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyMarketordersResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_DelOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DelOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_DelOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_HuaXiaRemitMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:HuaXiaRemitMoney" />
  </wsdl:message>
  <wsdl:message name="ITrade_HuaXiaRemitMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:HuaXiaRemitMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_ContactToHuaxiaSelfBank_InputMessage">
    <wsdl:part name="parameters" element="tns:ContactToHuaxiaSelfBank" />
  </wsdl:message>
  <wsdl:message name="ITrade_ContactToHuaxiaSelfBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContactToHuaxiaSelfBankResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_ContactToHuaxiaOhterBank_InputMessage">
    <wsdl:part name="parameters" element="tns:ContactToHuaxiaOhterBank" />
  </wsdl:message>
  <wsdl:message name="ITrade_ContactToHuaxiaOhterBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContactToHuaxiaOhterBankResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_RescindHuaxiaBank_InputMessage">
    <wsdl:part name="parameters" element="tns:RescindHuaxiaBank" />
  </wsdl:message>
  <wsdl:message name="ITrade_RescindHuaxiaBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:RescindHuaxiaBankResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_TestGetRealPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:TestGetRealPrice" />
  </wsdl:message>
  <wsdl:message name="ITrade_TestGetRealPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestGetRealPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_RegTestTradeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegTestTradeUser" />
  </wsdl:message>
  <wsdl:message name="ITrade_RegTestTradeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegTestTradeUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeSetInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeSetInfo" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeSetInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeSetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeNewsInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeNewsInfo" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeNewsInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeNewsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeNewsInfoWithPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeNewsInfoWithPage" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetTradeNewsInfoWithPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeNewsInfoWithPageResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetHisData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHisData" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetHisData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetHisDataWithTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDataWithTime" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetHisDataWithTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDataWithTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetHisDataWithMdtime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDataWithMdtime" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetHisDataWithMdtime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDataWithMdtimeResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetHisDataWithPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDataWithPage" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetHisDataWithPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHisDataWithPageResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_ModifyHisData_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyHisData" />
  </wsdl:message>
  <wsdl:message name="ITrade_ModifyHisData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyHisDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_ModifyUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUserPassword" />
  </wsdl:message>
  <wsdl:message name="ITrade_ModifyUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_ResetUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetUserPassword" />
  </wsdl:message>
  <wsdl:message name="ITrade_ResetUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXMarketorders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWXMarketorders" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXMarketorders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWXMarketordersResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_WXDelOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:WXDelOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_WXDelOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:WXDelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXLTradeOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWXLTradeOrder" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXLTradeOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWXLTradeOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWXUserInfo" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWXUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_ModifyTradePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyTradePassword" />
  </wsdl:message>
  <wsdl:message name="ITrade_ModifyTradePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyTradePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXProductConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWXProductConfig" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXProductConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWXProductConfigResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXHisData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWXHisData" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetWXHisData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWXHisDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_IsCanEconomicMan_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCanEconomicMan" />
  </wsdl:message>
  <wsdl:message name="ITrade_IsCanEconomicMan_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCanEconomicManResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_PayEconomicManCashFund_InputMessage">
    <wsdl:part name="parameters" element="tns:PayEconomicManCashFund" />
  </wsdl:message>
  <wsdl:message name="ITrade_PayEconomicManCashFund_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayEconomicManCashFundResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_BecomeEconomicMan_InputMessage">
    <wsdl:part name="parameters" element="tns:BecomeEconomicMan" />
  </wsdl:message>
  <wsdl:message name="ITrade_BecomeEconomicMan_OutputMessage">
    <wsdl:part name="parameters" element="tns:BecomeEconomicManResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_IsCanReturnEconomicManCashFund_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCanReturnEconomicManCashFund" />
  </wsdl:message>
  <wsdl:message name="ITrade_IsCanReturnEconomicManCashFund_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCanReturnEconomicManCashFundResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_ReturnEconomicManCashFund_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEconomicManCashFund" />
  </wsdl:message>
  <wsdl:message name="ITrade_ReturnEconomicManCashFund_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEconomicManCashFundResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetEconomicManUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEconomicManUserInfo" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetEconomicManUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEconomicManUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetOrgTicketUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrgTicketUrl" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetOrgTicketUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrgTicketUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_SetCommissionRatio_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCommissionRatio" />
  </wsdl:message>
  <wsdl:message name="ITrade_SetCommissionRatio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCommissionRatioResponse" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetCommissionRatio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissionRatio" />
  </wsdl:message>
  <wsdl:message name="ITrade_GetCommissionRatio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissionRatioResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrade">
    <wsdl:operation name="GetLogin">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetLogin" message="tns:ITrade_GetLogin_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetLoginResponse" message="tns:ITrade_GetLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginEx">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetLoginEx" message="tns:ITrade_GetLoginEx_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetLoginExResponse" message="tns:ITrade_GetLoginEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductConfig">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetProductConfig" message="tns:ITrade_GetProductConfig_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetProductConfigResponse" message="tns:ITrade_GetProductConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductConfigEx">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetProductConfigEx" message="tns:ITrade_GetProductConfigEx_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetProductConfigExResponse" message="tns:ITrade_GetProductConfigEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInventory">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetMoneyInventory" message="tns:ITrade_GetMoneyInventory_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetMoneyInventoryResponse" message="tns:ITrade_GetMoneyInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneyInventoryEx">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetMoneyInventoryEx" message="tns:ITrade_GetMoneyInventoryEx_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetMoneyInventoryExResponse" message="tns:ITrade_GetMoneyInventoryEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeOrderEx">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetTradeOrderEx" message="tns:ITrade_GetTradeOrderEx_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetTradeOrderExResponse" message="tns:ITrade_GetTradeOrderEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeHoldOrderEx">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetTradeHoldOrderEx" message="tns:ITrade_GetTradeHoldOrderEx_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetTradeHoldOrderExResponse" message="tns:ITrade_GetTradeHoldOrderEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLTradeOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetLTradeOrder" message="tns:ITrade_GetLTradeOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetLTradeOrderResponse" message="tns:ITrade_GetLTradeOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLTradeHoldOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetLTradeHoldOrder" message="tns:ITrade_GetLTradeHoldOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetLTradeHoldOrderResponse" message="tns:ITrade_GetLTradeHoldOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDelayPlaceOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetDelayPlaceOrder" message="tns:ITrade_GetDelayPlaceOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetDelayPlaceOrderResponse" message="tns:ITrade_GetDelayPlaceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDelayFlatOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetDelayFlatOrder" message="tns:ITrade_GetDelayFlatOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetDelayFlatOrderResponse" message="tns:ITrade_GetDelayFlatOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetTradeOrder" message="tns:ITrade_GetTradeOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetTradeOrderResponse" message="tns:ITrade_GetTradeOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeHoldOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetTradeHoldOrder" message="tns:ITrade_GetTradeHoldOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetTradeHoldOrderResponse" message="tns:ITrade_GetTradeHoldOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetOrders" message="tns:ITrade_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetOrdersResponse" message="tns:ITrade_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelHoldOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/DelHoldOrder" message="tns:ITrade_DelHoldOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/DelHoldOrderResponse" message="tns:ITrade_DelHoldOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketorders">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetMarketorders" message="tns:ITrade_GetMarketorders_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetMarketordersResponse" message="tns:ITrade_GetMarketorders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyMarketorders">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/ModifyMarketorders" message="tns:ITrade_ModifyMarketorders_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/ModifyMarketordersResponse" message="tns:ITrade_ModifyMarketorders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/DelOrder" message="tns:ITrade_DelOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/DelOrderResponse" message="tns:ITrade_DelOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HuaXiaRemitMoney">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/HuaXiaRemitMoney" message="tns:ITrade_HuaXiaRemitMoney_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/HuaXiaRemitMoneyResponse" message="tns:ITrade_HuaXiaRemitMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContactToHuaxiaSelfBank">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/ContactToHuaxiaSelfBank" message="tns:ITrade_ContactToHuaxiaSelfBank_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/ContactToHuaxiaSelfBankResponse" message="tns:ITrade_ContactToHuaxiaSelfBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContactToHuaxiaOhterBank">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/ContactToHuaxiaOhterBank" message="tns:ITrade_ContactToHuaxiaOhterBank_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/ContactToHuaxiaOhterBankResponse" message="tns:ITrade_ContactToHuaxiaOhterBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RescindHuaxiaBank">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/RescindHuaxiaBank" message="tns:ITrade_RescindHuaxiaBank_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/RescindHuaxiaBankResponse" message="tns:ITrade_RescindHuaxiaBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestGetRealPrice">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/TestGetRealPrice" message="tns:ITrade_TestGetRealPrice_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/TestGetRealPriceResponse" message="tns:ITrade_TestGetRealPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegTestTradeUser">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/RegTestTradeUser" message="tns:ITrade_RegTestTradeUser_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/RegTestTradeUserResponse" message="tns:ITrade_RegTestTradeUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeSetInfo">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetTradeSetInfo" message="tns:ITrade_GetTradeSetInfo_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetTradeSetInfoResponse" message="tns:ITrade_GetTradeSetInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeNewsInfo">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetTradeNewsInfo" message="tns:ITrade_GetTradeNewsInfo_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetTradeNewsInfoResponse" message="tns:ITrade_GetTradeNewsInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeNewsInfoWithPage">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetTradeNewsInfoWithPage" message="tns:ITrade_GetTradeNewsInfoWithPage_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetTradeNewsInfoWithPageResponse" message="tns:ITrade_GetTradeNewsInfoWithPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHisData">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetHisData" message="tns:ITrade_GetHisData_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetHisDataResponse" message="tns:ITrade_GetHisData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHisDataWithTime">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetHisDataWithTime" message="tns:ITrade_GetHisDataWithTime_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetHisDataWithTimeResponse" message="tns:ITrade_GetHisDataWithTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHisDataWithMdtime">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetHisDataWithMdtime" message="tns:ITrade_GetHisDataWithMdtime_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetHisDataWithMdtimeResponse" message="tns:ITrade_GetHisDataWithMdtime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHisDataWithPage">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetHisDataWithPage" message="tns:ITrade_GetHisDataWithPage_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetHisDataWithPageResponse" message="tns:ITrade_GetHisDataWithPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyHisData">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/ModifyHisData" message="tns:ITrade_ModifyHisData_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/ModifyHisDataResponse" message="tns:ITrade_ModifyHisData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPassword">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/ModifyUserPassword" message="tns:ITrade_ModifyUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/ModifyUserPasswordResponse" message="tns:ITrade_ModifyUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/ResetUserPassword" message="tns:ITrade_ResetUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/ResetUserPasswordResponse" message="tns:ITrade_ResetUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWXMarketorders">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetWXMarketorders" message="tns:ITrade_GetWXMarketorders_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetWXMarketordersResponse" message="tns:ITrade_GetWXMarketorders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WXDelOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/WXDelOrder" message="tns:ITrade_WXDelOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/WXDelOrderResponse" message="tns:ITrade_WXDelOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWXLTradeOrder">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetWXLTradeOrder" message="tns:ITrade_GetWXLTradeOrder_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetWXLTradeOrderResponse" message="tns:ITrade_GetWXLTradeOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWXUserInfo">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetWXUserInfo" message="tns:ITrade_GetWXUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetWXUserInfoResponse" message="tns:ITrade_GetWXUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyTradePassword">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/ModifyTradePassword" message="tns:ITrade_ModifyTradePassword_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/ModifyTradePasswordResponse" message="tns:ITrade_ModifyTradePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWXProductConfig">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetWXProductConfig" message="tns:ITrade_GetWXProductConfig_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetWXProductConfigResponse" message="tns:ITrade_GetWXProductConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWXHisData">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetWXHisData" message="tns:ITrade_GetWXHisData_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetWXHisDataResponse" message="tns:ITrade_GetWXHisData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCanEconomicMan">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/IsCanEconomicMan" message="tns:ITrade_IsCanEconomicMan_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/IsCanEconomicManResponse" message="tns:ITrade_IsCanEconomicMan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayEconomicManCashFund">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/PayEconomicManCashFund" message="tns:ITrade_PayEconomicManCashFund_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/PayEconomicManCashFundResponse" message="tns:ITrade_PayEconomicManCashFund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BecomeEconomicMan">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/BecomeEconomicMan" message="tns:ITrade_BecomeEconomicMan_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/BecomeEconomicManResponse" message="tns:ITrade_BecomeEconomicMan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCanReturnEconomicManCashFund">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/IsCanReturnEconomicManCashFund" message="tns:ITrade_IsCanReturnEconomicManCashFund_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/IsCanReturnEconomicManCashFundResponse" message="tns:ITrade_IsCanReturnEconomicManCashFund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnEconomicManCashFund">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/ReturnEconomicManCashFund" message="tns:ITrade_ReturnEconomicManCashFund_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/ReturnEconomicManCashFundResponse" message="tns:ITrade_ReturnEconomicManCashFund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEconomicManUserInfo">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetEconomicManUserInfo" message="tns:ITrade_GetEconomicManUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetEconomicManUserInfoResponse" message="tns:ITrade_GetEconomicManUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrgTicketUrl">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetOrgTicketUrl" message="tns:ITrade_GetOrgTicketUrl_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetOrgTicketUrlResponse" message="tns:ITrade_GetOrgTicketUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCommissionRatio">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/SetCommissionRatio" message="tns:ITrade_SetCommissionRatio_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/SetCommissionRatioResponse" message="tns:ITrade_SetCommissionRatio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommissionRatio">
      <wsdl:input wsaw:Action="www.ITrade.com/ITrade/GetCommissionRatio" message="tns:ITrade_GetCommissionRatio_InputMessage" />
      <wsdl:output wsaw:Action="www.ITrade.com/ITrade/GetCommissionRatioResponse" message="tns:ITrade_GetCommissionRatio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>